// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: white; // Using this variable
}

h1 {
    font-size: 50px;
    color: rgb(255, 156, 179)
  }
 .container {
  display: grid;
 }

.card {
  height: 500px;
  width: 600px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}


a {
  color: rgb(135, 52, 71);
}

a:hover {
  text-decoration: none;
  color: rgb(255, 156, 179);
}

.btn-info {
  background-color: #81C3D7;
  border-color: teal;
  color: white;
}

.btn-info:hover {
  background-color: teal;
  border-color: teal;
}
